.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--primary-color);
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header > .logo {
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
}