<div *ngIf="userProfile; else notUserProfile">
  
  <!-- header -->
  <app-header></app-header>
  
  <mat-sidenav-container class="sidenav-custom-container">

      <!-- sidebar -->
      <mat-sidenav
          #sidenav
          id="sidenav"
          class="sidenav-custom"
          mode="side"
          opened
      >
          <nav>
          <ul>
              <li *ngIf="userProfile === PROFILE_PC">
              <a routerLink="candidatos">
                  <mat-icon aria-hidden="false">emoji_people</mat-icon>
                  Candidatos
              </a>
              </li>
              <li *ngIf="userProfile === PROFILE_AVALIADOR">
              <a routerLink="avaliacoes">
                <mat-icon aria-hidden="false">assignment</mat-icon>
                Avaliações
              </a>
              </li>
          </ul>
          </nav>
      </mat-sidenav>
  
      <!-- menu content -->
      <mat-sidenav-content class="sidenav-custom-content">
        <router-outlet></router-outlet>
      </mat-sidenav-content>

  </mat-sidenav-container>

  <!-- footer -->
  <!-- <mat-toolbar class="footer"></mat-toolbar> -->

</div>

<ng-template #notUserProfile>
  <ng-container *ngIf="isUnauthorized; else login">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </ng-container>
</ng-template>

<ng-template #login>
  <div class="content">
    <div class="button-options">
      <button mat-raised-button color="basic" (click)="loginAsPC()">Entrar como <strong>P&C</strong></button>
      <button mat-raised-button color="basic" (click)="loginAsEvaluator()">Entrar como <strong>Avaliador</strong></button>
    </div>
  </div>
</ng-template>