<div>
  
  <!-- header -->
  <app-header></app-header>
  
  <mat-sidenav-container class="sidenav-custom-container">

    <!-- sidebar -->
    <mat-sidenav
      #sidenav
      id="sidenav"
      class="sidenav-custom"
      mode="side"
      opened
    >
      <nav>
        <ul>
          <li *ngIf="userProfile && userProfile === PROFILE_PC">
            <a routerLink="candidatos">Candidatos</a>
          </li>
          <li *ngIf="userProfile && (userProfile === PROFILE_PC || userProfile === PROFILE_AVALIADOR)">
            <a routerLink="avaliacoes">Avaliações</a>
          </li>
        </ul>
      </nav>
    </mat-sidenav>

    <!-- menu content -->
    <mat-sidenav-content class="sidenav-custom-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>

  <!-- footer -->
  <mat-toolbar class="footer"></mat-toolbar>

</div>