<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Avaliar</h4>
                    <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                </div>
                <form id="evaluation-card-body" class="card-body" [formGroup]="form">

                    <!-- Candidato -->
                    <div class="field-custom">
                        <mat-label><b>Candidato</b></mat-label>
                        <mat-form-field appearance="outline" floatLabel="never">
                            <mat-select formControlName="selectedCandidate" name="candidate">
                                <mat-option *ngFor="let candidate of candidatesList" [value]="candidate.key">
                                    {{candidate.value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <!-- Status -->
                    <div class="field-custom">
                        <mat-label><b>Status</b></mat-label>
                        <mat-form-field appearance="outline">
                            <mat-select formControlName="selectedStatus" name="status">
                                <mat-option *ngFor="let status of statusList" [value]="status.key">
                                    {{status.value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <button mat-raised-button (click)="register()" disabled={{form.disabled}}>Registrar</button>
                    <mat-spinner *ngIf="form.disabled && !saved" diameter="50"></mat-spinner>

                </form>
            </div>
        </div>
    </div>
</div>