<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Candidatos</h4>
                    <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Nome</th>
                                <th>CPF</th>
                                <th>E-mail</th>
                                <th>Data nasc.</th>
                                <th>Cidade</th>
                                <th>Currículo</th>
                                <th>Repositório</th>
                                <th>Status</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of data">
                                    <td>{{item.nome ?? '-'}}</td>
                                    <td>{{item.cpf ?? '-'}}</td>
                                    <td>{{item.email ?? '-'}}</td>
                                    <td>{{item.dataNascimento ?? '-' | date : 'dd/MM/yyyy'}}</td>
                                    <td>{{item.cidade ?? '-'}}</td>
                                    <td>{{item.curriculo ?? '-'}}</td>
                                    <td>
                                        <a href={{item.linkRepositorio}} target="_blank" class="link-repositorio">
                                            <mat-icon aria-hidden="false">open_in_new</mat-icon>
                                        </a>
                                    </td>
                                    <td>{{item.status ?? '-'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>